/* 폼 레이아웃 설정 */
.form-inline-layout {
  display: flex; /* Flexbox 활성화 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  gap: 10px; /* 요소 간 간격 */
}

/* 각 요소 너비 조정 */
.form-inline-layout .form-select {
  width: 150px; /* 카테고리 너비 */
}

.form-inline-layout .form-control {
  width: 200px; /* 입력창 너비 */
}

/* 페이지 네이션 설정 */
.pagination-container {
  display: flex;
  justify-content: center; /* 기본 중앙 정렬 */
}

.pagination .page-link {
  color: white !important;
  background-color: #343a40 !important;
}

.pagination .page-item.active .page-link {
  background-color: black !important;
}

/* 현재 시간 글자 크기 설정 */
#currentDateTime {
  font-size: 14px;
}

/* 야간모드에서 테이블 스타일 추가 */
[data-theme="dark"] table.table {
  background-color: #6f6e6e; /* 표 배경 어둡게 설정 */
}

[data-theme="dark"] table.table th,
[data-theme="dark"] table.table td {
  border-color: #505458; /* 테두리 색상 어둡게 설정 */
  color: white; /* 텍스트 색상을 흰색으로 설정 */
}

[data-theme="dark"] table.table th {
  background-color: #666666; /* 헤더 배경 어둡게 설정 */
}

[data-theme="dark"] table.table td {
  background-color: #787878; /* 셀 배경 어둡게 설정 */
}

/* 다크모드 버튼 스타일 */
.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--button-bg);
  color: var(--button-text);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* 야간모드 설정 */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-bg: #343a40;
  --button-text: #ffffff;
}

[data-theme="dark"] {
  --background-color: #1212127c;
  --text-color: #ffffff;
  --button-bg: #ffffff;
  --button-text: #121212;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: color 0.3s;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.sign-up-button {
  padding: 10px 20px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  cursor: pointer;
}
